*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.block{
    background-color: #f2f2f2;
    margin-top:30px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

.block__titles{
    font-size: 24px;
    font-weight:700;
    margin-bottom: 15px;
}

.block__main{
    padding: 20px 0;
}

.block__text{
    font-size: 16px;
    margin-bottom: 15px;
}

.block__buttons{
    display: flex;
    gap: 15px;
}

.block__button{
    display: inline-block;
    border-color: #f2f2f2;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.block__button--primary{
    color: #f2f2f2;
    background-color: #007fff;
}

.block__button--secondary{
    color: #007fff;
    border: 1px solid #007fff;
}