* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  border: 2px solid green;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 100px 1fr 1fr 100px;
  grid-template-areas: "nav header header"
    "nav principal aside"
    "nav principal aside"
    "footer footer footer";
  gap: 10px; /* add a gap between grid items */
}

.caja {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* add some padding to each grid item */
}

.nav {
  grid-area: nav;
  background-color: aquamarine;
  padding: 10px; /* add some padding to the nav */
}

.header {
  grid-area: header;
  background-color: blue;
  padding: 10px; /* add some padding to the header */
}

.principal {
  grid-area: principal;
  background-color: blueviolet;
  padding: 20px; /* add some padding to the principal section */
}

.aside {
  grid-area: aside;
  background-color: chocolate;
  padding: 10px; /* add some padding to the aside */
}

.footer {
  grid-area: footer;
  background-color: darkgreen;
  padding: 10px; /* add some padding to the footer */
}

/* media query for smaller screens */
@media (max-width: 768px) {
 .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
 .nav {
    grid-area: nav;
  }
 .header {
    grid-area: header;
  }
 .principal {
    grid-area: principal;
  }
 .aside {
    grid-area: aside;
  }
 .footer {
    grid-area: footer;
  }
}


@media (max-width: 1024px) {
  .contenedor {
     grid-template-columns: 1fr;
     grid-template-rows: repeat(5, 1fr);
   }
  .nav {
     grid-area: nav;
   }
  .header {
     grid-area: header;
   }
  .principal {
     grid-area: principal;
   }
  .aside {
     grid-area: aside;
   }
  .footer {
     grid-area: footer;
   }
}